process {
    withName: 'FASTP' {
        ext.args = [
            "--disable_quality_filtering",
            "--disable_length_filtering",
            "--disable_adapter_trimming",
            "--disable_trim_poly_g",
            "--umi",
            '--umi_loc="read2"',
            "--umi_len=14",
            "--umi_skip=13",
        ].join(" ").trim()
    }

    withName: 'FASTP_PRIMERS' {
        ext.prefix = { "${meta.id}_primertrimmed" }
        ext.args = [
            "--disable_quality_filtering",
            "--disable_length_filtering",
            "--disable_trim_poly_g"
        ].join(" ").trim()
    }

    withName: 'CUTADAPT' {
        ext.args = [
            { "-g ^file:${adapter_5_fasta}" },
            "-a AGGACTCCAATAG",
            { "-A file:${adapter_3_fasta}" },
        ].join(" ").trim()
    }
    
    withName: 'TRIMGALORE' {
        ext.args = [ '--fastqc',
            '-a AGGACTCCAATAG',
            '-a2 CAAAACGCAATACTGTACATT',
            '--paired',
            '--nextseq 10',
            '--non-directional'
        ].join(' ').trim()
    }

    
}